*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
   
}
body
{
    justify-content: space-between;
    background-image:url('https://png.pngtree.com/background/20210710/original/pngtree-atmospheric-business-office-desk-overlooking-the-background-picture-image_1036126.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 
}
content{
    padding: 10px;
}
input {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
}
button{
    background-color: brown;
    color: white;
    padding: 11px;
    font-family: 'Poppins',sans-serif;
   
}
